body{
    /* background: linear-gradient(90deg, rgba(187,209,65,1) 0%, rgba(100,191,153,1) 40%, rgba(0,212,255,1) 100%); */
    background: linear-gradient(360deg, #f61cb5, #00ffff);

}
input{
    text-align: center;
}
@media only screen and (max-width: 567px) {
    .btnaddx{
        margin: 0px;
    }
input{
    height: 30px;
    width: 80px;
}
    .mainX{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        border: 2px solid black;
        padding: 1px;
    }
  }